body {
    background: linear-gradient(135deg,#c553b6,#99f2c8);
    font-family: Arial;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgb(233, 87, 3);
    padding: 30px;
    width: 430px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
#download {
    width:60%;
    padding: 10px;
    border-radius: 50px;
}

.progress-container {
    width: 100%;
    height: 12px;
    background: #07afc9;
    margin-top: 15px;
    border-radius: 6px;
    overflow: hidden;
}

#progress {
    height: 100%;
    width: 0%;
    background: #4caf50;
    transition: width 0.2s;
}

#status {
    margin-top: 10px;
}
.progress-container {
    width: 100%;
    height: 22px;
    background: #ddd;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 15px;
}

#progress {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #4caf50, #2ecc71);
    text-align: center;
    color: white;
    font-size: 13px;
    line-height: 22px;
    transition: width 0.4s ease;
}



.thread-box {
    margin-top: 12px;
}

.thread-bar {
    height: 14px;
    background: #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 4px;
}

.thread-fill {
    height: 100%;
    width: 0%;
    background: #2196f3;
    transition: width 0.5s ease;
}

.thread-label {
    font-size: 12px;
    margin-top: 3px;
}
.advanced-toggle {
    padding-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    user-select: none;
}

.advanced-toggle:hover {
    color: black;
}
#filename{
    width: 80%;
}